# Initial Exploration

## Import Libraries

In [1]:
#Disable Warnings
import warnings
warnings.filterwarnings("ignore")

#Import pandas for dataframes
import pandas as pd
import numpy as np

#Graphing imports
import seaborn as sns
import matplotlib.pyplot as plt

#Import Simple Imputer
from sklearn.impute import SimpleImputer

from scipy import stats

from sklearn.model_selection import train_test_split

## Acquire Data

In [2]:
df = pd.read_csv(r'/Users/malachihale/codeup-data-science/hotel_bookings_project/hotel_bookings.csv')

In [3]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [4]:
df.columns.to_list()

['hotel',
 'is_canceled',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'agent',
 'company',
 'days_in_waiting_list',
 'customer_type',
 'adr',
 'required_car_parking_spaces',
 'total_of_special_requests',
 'reservation_status',
 'reservation_status_date']

In [5]:
df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [6]:
for col in df.columns:
    print(df[col].value_counts())

City Hotel      79330
Resort Hotel    40060
Name: hotel, dtype: int64
0    75166
1    44224
Name: is_canceled, dtype: int64
0      6345
1      3460
2      2069
3      1816
4      1715
       ...
370       1
435       1
371       1
380       1
709       1
Name: lead_time, Length: 479, dtype: int64
2016    56707
2017    40687
2015    21996
Name: arrival_date_year, dtype: int64
August       13877
July         12661
May          11791
October      11160
April        11089
June         10939
September    10508
March         9794
February      8068
November      6794
December      6780
January       5929
Name: arrival_date_month, dtype: int64
33    3580
30    3087
32    3045
34    3040
18    2926
21    2854
28    2853
17    2805
20    2785
29    2763
42    2756
31    2741
41    2699
15    2689
27    2664
25    2663
38    2661
23    2621
35    2593
39    2581
22    2546
24    2498
13    2416
16    2405
19    2402
40    2397
26    2391
43    2352
44    2272
14    2264
37    2229
8     2216
36    2167
10    2149
9     2117
7     2109
12    2083
11    2070
45    1941
53    1816
49    1782
47    1685
46    1574
6     1508
50    1505
48    1504
4     1487
5     1387
3     1319
2     1218
52    1195
1     1047
51     933
Name: arrival_date_week_number, dtype: int64
17    4406
5     4317
15    4196
25    4160
26    4147
9     4096
12    4087
16    4078
2     4055
19    4052
20    4032
18    4002
24    3993
28    3946
8     3921
3     3855
30    3853
6     3833
14    3819
27    3802
21    3767
4     3763
13    3745
7     3665
1     3626
23    3616
11    3599
22    3596
29    3580
10    3575
31    2208
Name: arrival_date_day_of_month, dtype: int64
0     51998
2     33308
1     30626
4      1855
3      1259
6       153
5        79
8        60
7        19
9        11
10        7
12        5
13        3
16        3
14        2
18        1
19        1
Name: stays_in_weekend_nights, dtype: int64
2     33684
1     30310
3     22258
5     11077
4      9563
0      7645
6      1499
10     1036
7      1029
8       656
9       231
15       85
11       56
19       44
12       42
20       41
14       35
13       27
16       16
21       15
22        7
18        6
25        6
30        5
17        4
24        3
40        2
26        1
32        1
33        1
34        1
35        1
41        1
42        1
50        1
Name: stays_in_week_nights, dtype: int64
2     89680
1     23027
3      6202
0       403
4        62
26        5
5         2
20        2
27        2
6         1
10        1
40        1
50        1
55        1
Name: adults, dtype: int64
0.0     110796
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: children, dtype: int64
0     118473
1        900
2         15
9          1
10         1
Name: babies, dtype: int64
BB           92310
HB           14463
SC           10650
Undefined     1169
FB             798
Name: meal, dtype: int64
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
AIA        1
UMI        1
MLI        1
CYM        1
LCA        1
Name: country, Length: 177, dtype: int64
Online TA        56477
Offline TA/TO    24219
Groups           19811
Direct           12606
Corporate         5295
Complementary      743
Aviation           237
Undefined            2
Name: market_segment, dtype: int64
TA/TO        97870
Direct       14645
Corporate     6677
GDS            193
Undefined        5
Name: distribution_channel, dtype: int64
0    115580
1      3810
Name: is_repeated_guest, dtype: int64
0     112906
1       6051
2        116
3         65
24        48
11        35
4         31
26        26
25        25
6         22
5         19
19        19
14        14
13        12
21         1
Name: previous_cancellations, dtype: int64
0     115770
1       1542
2        580
3        333
4        229
       ...
38         1
39         1
71         1
41         1
63         1
Name: previous_bookings_not_canceled, Length: 73, dtype: int64
A    85994
D    19201
E     6535
F     2897
G     2094
B     1118
C      932
H      601
P       12
L        6
Name: reserved_room_type, dtype: int64
A    74053
D    25322
E     7806
F     3751
G     2553
C     2375
B     2163
H      712
I      363
K      279
P       12
L        1
Name: assigned_room_type, dtype: int64
0     101314
1      12701
2       3805
3        927
4        376
5        118
6         63
7         31
8         17
9          8
10         6
13         5
14         5
15         3
11         2
12         2
16         2
17         2
18         1
20         1
21         1
Name: booking_changes, dtype: int64
No Deposit    104641
Non Refund     14587
Refundable       162
Name: deposit_type, dtype: int64
9.0      31961
240.0    13922
1.0       7191
14.0      3640
7.0       3539
         ...
304.0        1
431.0        1
278.0        1
450.0        1
114.0        1
Name: agent, Length: 333, dtype: int64
40.0     927
223.0    784
67.0     267
45.0     250
153.0    215
        ...
273.0      1
415.0      1
352.0      1
253.0      1
497.0      1
Name: company, Length: 352, dtype: int64
0      115692
39        227
58        164
44        141
31        127
        ...
36          1
193         1
37          1
165         1
74          1
Name: days_in_waiting_list, Length: 128, dtype: int64
Transient          89613
Transient-Party    25124
Contract            4076
Group                577
Name: customer_type, dtype: int64
62.00     3754
75.00     2715
90.00     2473
65.00     2418
0.00      1959
          ...
243.96       1
112.90       1
130.82       1
139.86       1
243.80       1
Name: adr, Length: 8879, dtype: int64
0    111974
1      7383
2        28
3         3
8         2
Name: required_car_parking_spaces, dtype: int64
0    70318
1    33226
2    12969
3     2497
4      340
5       40
Name: total_of_special_requests, dtype: int64
Check-Out    75166
Canceled     43017
No-Show       1207
Name: reservation_status, dtype: int64
2015-10-21    1461
2015-07-06     805
2016-11-25     790
2015-01-01     763
2016-01-18     625
              ...
2015-04-27       1
2017-09-12       1
2015-03-12       1
2015-04-25       1
2015-03-18       1
Name: reservation_status_date, Length: 926, dtype: int64

## Prepare Data

In [7]:
def handle_missing_values(df, prop_required_column = .5, prop_required_row = .75):
    '''
    We will eliminate all columns with less than 50% non-null, and all rows with less than 75% non-null.
    '''
    threshold = int(round(prop_required_column*len(df.index),0))
    df.dropna(axis=1, thresh=threshold, inplace=True)
    threshold = int(round(prop_required_row*len(df.columns),0))
    df.dropna(axis=0, thresh=threshold, inplace=True)
    return df

In [8]:
def impute_null_values(df):
    '''
    We will use SimpleImputer to impute the mean value into the null values into each column.
    '''
    #We will use the mean imputer function.
    imputer = SimpleImputer(strategy='most_frequent')

    #We will create a for loop that will impute all the null values in each one of our columns.
    for col in df.columns:
        df[[col]] = imputer.fit_transform(df[[col]])
    
    return df

In [9]:
df = handle_missing_values(df)

In [10]:
df = impute_null_values(df)

In [11]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,9.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,9.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,9.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [12]:
df.shape

(119390, 31)

In [13]:
df['reservation_status_date'] = pd.to_datetime(df['reservation_status_date'])

In [14]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,9.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,9.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,9.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [15]:
pd.set_option('display.max_colwidth', None)

In [16]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,9.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,9.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,9.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [17]:
df['date_arrived'] = df["arrival_date_year"].astype(str) + str(" ") + df["arrival_date_month"] + str(" ") + df["arrival_date_day_of_month"].astype(str)

In [18]:
df.date_arrived

0            2015 July 1
1            2015 July 1
2            2015 July 1
3            2015 July 1
4            2015 July 1
               ...
119385    2017 August 30
119386    2017 August 31
119387    2017 August 31
119388    2017 August 31
119389    2017 August 29
Name: date_arrived, Length: 119390, dtype: object

In [19]:
df['date_arrived'] = pd.to_datetime(df['date_arrived'])

In [20]:
df.date_arrived

0        2015-07-01
1        2015-07-01
2        2015-07-01
3        2015-07-01
4        2015-07-01
            ...
119385   2017-08-30
119386   2017-08-31
119387   2017-08-31
119388   2017-08-31
119389   2017-08-29
Name: date_arrived, Length: 119390, dtype: datetime64[ns]

In [21]:
def split_data(df):
    '''
    take in a DataFrame and return train, validate, and test DataFrames.
    return train, validate, test DataFrames.
    '''
    
    # splits df into train_validate and test using train_test_split() stratifying on churn to get an even mix of each churn, yes or no
    train_validate, test = train_test_split(df, test_size=.2, random_state=123)
    
    # splits train_validate into train and validate using train_test_split() stratifying on churn to get an even mix of each churn
    train, validate = train_test_split(train_validate, 
                                       test_size=.3, 
                                       random_state=123)
    return train, validate, test

In [22]:
train, validate, test = split_data(df)

In [23]:
train.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,date_arrived
43920,City Hotel,1,87,2015,September,39,25,2,3,2,...,Non Refund,1.0,0,Transient,170.0,0,0,Canceled,2015-09-09,2015-09-25
3642,Resort Hotel,0,49,2015,December,53,28,1,3,2,...,No Deposit,240.0,0,Transient,89.5,1,2,Check-Out,2016-01-01,2015-12-28
27542,Resort Hotel,0,89,2016,August,36,29,1,3,2,...,No Deposit,242.0,0,Transient,183.5,0,1,Check-Out,2016-09-02,2016-08-29
110598,City Hotel,0,294,2017,April,17,28,0,1,2,...,No Deposit,9.0,0,Transient,99.0,0,1,Check-Out,2017-04-29,2017-04-28
74449,City Hotel,1,304,2015,August,34,17,1,1,2,...,Non Refund,1.0,0,Contract,62.0,0,0,Canceled,2015-01-01,2015-08-17

## Exploration

In [24]:
for col in df.columns:
    print(df[col].value_counts())

City Hotel      79330
Resort Hotel    40060
Name: hotel, dtype: int64
0    75166
1    44224
Name: is_canceled, dtype: int64
0      6345
1      3460
2      2069
3      1816
4      1715
       ...
370       1
435       1
371       1
380       1
709       1
Name: lead_time, Length: 479, dtype: int64
2016    56707
2017    40687
2015    21996
Name: arrival_date_year, dtype: int64
August       13877
July         12661
May          11791
October      11160
April        11089
June         10939
September    10508
March         9794
February      8068
November      6794
December      6780
January       5929
Name: arrival_date_month, dtype: int64
33    3580
30    3087
32    3045
34    3040
18    2926
21    2854
28    2853
17    2805
20    2785
29    2763
42    2756
31    2741
41    2699
15    2689
27    2664
25    2663
38    2661
23    2621
35    2593
39    2581
22    2546
24    2498
13    2416
16    2405
19    2402
40    2397
26    2391
43    2352
44    2272
14    2264
37    2229
8     2216
36    2167
10    2149
9     2117
7     2109
12    2083
11    2070
45    1941
53    1816
49    1782
47    1685
46    1574
6     1508
50    1505
48    1504
4     1487
5     1387
3     1319
2     1218
52    1195
1     1047
51     933
Name: arrival_date_week_number, dtype: int64
17    4406
5     4317
15    4196
25    4160
26    4147
9     4096
12    4087
16    4078
2     4055
19    4052
20    4032
18    4002
24    3993
28    3946
8     3921
3     3855
30    3853
6     3833
14    3819
27    3802
21    3767
4     3763
13    3745
7     3665
1     3626
23    3616
11    3599
22    3596
29    3580
10    3575
31    2208
Name: arrival_date_day_of_month, dtype: int64
0     51998
2     33308
1     30626
4      1855
3      1259
6       153
5        79
8        60
7        19
9        11
10        7
12        5
13        3
16        3
14        2
18        1
19        1
Name: stays_in_weekend_nights, dtype: int64
2     33684
1     30310
3     22258
5     11077
4      9563
0      7645
6      1499
10     1036
7      1029
8       656
9       231
15       85
11       56
19       44
12       42
20       41
14       35
13       27
16       16
21       15
22        7
18        6
25        6
30        5
17        4
24        3
40        2
26        1
32        1
33        1
34        1
35        1
41        1
42        1
50        1
Name: stays_in_week_nights, dtype: int64
2     89680
1     23027
3      6202
0       403
4        62
26        5
5         2
20        2
27        2
6         1
10        1
40        1
50        1
55        1
Name: adults, dtype: int64
0.0     110800
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: children, dtype: int64
0     118473
1        900
2         15
9          1
10         1
Name: babies, dtype: int64
BB           92310
HB           14463
SC           10650
Undefined     1169
FB             798
Name: meal, dtype: int64
PRT    49078
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
AIA        1
UMI        1
MLI        1
CYM        1
LCA        1
Name: country, Length: 177, dtype: int64
Online TA        56477
Offline TA/TO    24219
Groups           19811
Direct           12606
Corporate         5295
Complementary      743
Aviation           237
Undefined            2
Name: market_segment, dtype: int64
TA/TO        97870
Direct       14645
Corporate     6677
GDS            193
Undefined        5
Name: distribution_channel, dtype: int64
0    115580
1      3810
Name: is_repeated_guest, dtype: int64
0     112906
1       6051
2        116
3         65
24        48
11        35
4         31
26        26
25        25
6         22
5         19
19        19
14        14
13        12
21         1
Name: previous_cancellations, dtype: int64
0     115770
1       1542
2        580
3        333
4        229
       ...
38         1
39         1
71         1
41         1
63         1
Name: previous_bookings_not_canceled, Length: 73, dtype: int64
A    85994
D    19201
E     6535
F     2897
G     2094
B     1118
C      932
H      601
P       12
L        6
Name: reserved_room_type, dtype: int64
A    74053
D    25322
E     7806
F     3751
G     2553
C     2375
B     2163
H      712
I      363
K      279
P       12
L        1
Name: assigned_room_type, dtype: int64
0     101314
1      12701
2       3805
3        927
4        376
5        118
6         63
7         31
8         17
9          8
10         6
13         5
14         5
15         3
11         2
12         2
16         2
17         2
18         1
20         1
21         1
Name: booking_changes, dtype: int64
No Deposit    104641
Non Refund     14587
Refundable       162
Name: deposit_type, dtype: int64
9.0      48301
240.0    13922
1.0       7191
14.0      3640
7.0       3539
         ...
304.0        1
431.0        1
278.0        1
450.0        1
114.0        1
Name: agent, Length: 333, dtype: int64
0      115692
39        227
58        164
44        141
31        127
        ...
36          1
193         1
37          1
165         1
74          1
Name: days_in_waiting_list, Length: 128, dtype: int64
Transient          89613
Transient-Party    25124
Contract            4076
Group                577
Name: customer_type, dtype: int64
62.00     3754
75.00     2715
90.00     2473
65.00     2418
0.00      1959
          ...
243.96       1
112.90       1
130.82       1
139.86       1
243.80       1
Name: adr, Length: 8879, dtype: int64
0    111974
1      7383
2        28
3         3
8         2
Name: required_car_parking_spaces, dtype: int64
0    70318
1    33226
2    12969
3     2497
4      340
5       40
Name: total_of_special_requests, dtype: int64
Check-Out    75166
Canceled     43017
No-Show       1207
Name: reservation_status, dtype: int64
2015-10-21    1461
2015-07-06     805
2016-11-25     790
2015-01-01     763
2016-01-18     625
              ...
2015-02-12       1
2015-03-10       1
2015-03-05       1
2015-03-18       1
2015-02-19       1
Name: reservation_status_date, Length: 926, dtype: int64
2015-12-05    448
2016-11-07    366
2015-10-16    356
2016-10-13    344
2015-09-18    340
             ...
2015-12-15     29
2015-11-15     28
2015-12-07     27
2015-11-29     20
2015-12-13     19
Name: date_arrived, Length: 793, dtype: int64

In [25]:
categorical = ['hotel', 
               'is_canceled', 
               'arrival_date_year', 
               'arrival_date_month', 
                'meal', 
              'country', 
              'market_segment', 
              'distribution_channel', 
              'is_repeated_guest', 
              'reserved_room_type', 
              'assigned_room_type', 
              'deposit_type',
              'agent',
              'customer_type', 
              'required_car_parking_spaces', 
              'reservation_status',
              'arrival_date_week_number',
                'arrival_date_day_of_month',
              'total_of_special_requests']

In [26]:
continuous = ['lead_time',
             'stays_in_weekend_nights',
           'stays_in_week_nights',
            'adults',
              'children',
              'babies',
            'previous_cancellations',
              'previous_bookings_not_canceled',
              'booking_changes',
              'days_in_waiting_list',
             ]

In [27]:
dates = ['reservation_status_date', 
        'date_arrived']

In [28]:
for col in continuous:
    test_results = stats.pearsonr(train.adr, train[col])
    print(col, "correlation with daily rate")
    print(test_results)
    print(" ")

lead_time correlation with daily rate
(-0.06360019511957397, 6.94673424302412e-61)

stays_in_weekend_nights correlation with daily rate
(0.048688909963678625, 2.202071121463805e-36)

stays_in_week_nights correlation with daily rate
(0.05999294614060785, 2.312993798562837e-54)

adults correlation with daily rate
(0.2288320597451874, 0.0)

children correlation with daily rate
(0.30691703269270615, 0.0)

babies correlation with daily rate
(0.0266142060290196, 5.872749916106974e-12)

previous_cancellations correlation with daily rate
(-0.06220990055484778, 2.516027186592958e-58)

previous_bookings_not_canceled correlation with daily rate
(-0.06967613962130542, 9.858658835151844e-73)

booking_changes correlation with daily rate
(0.018860630830353272, 1.076461278740261e-06)

days_in_waiting_list correlation with daily rate
(-0.037838782319251016, 1.2770568431633983e-22)

In [29]:
categorical

['hotel',
 'is_canceled',
 'arrival_date_year',
 'arrival_date_month',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'reserved_room_type',
 'assigned_room_type',
 'deposit_type',
 'agent',
 'customer_type',
 'required_car_parking_spaces',
 'reservation_status',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'total_of_special_requests']

### Hotel Type

In [30]:
train.hotel.value_counts()

City Hotel      44543
Resort Hotel    22315
Name: hotel, dtype: int64

In [31]:
city_hotel = train[train.hotel == 'City Hotel']
resort_hotel = train[train.hotel == "Resort Hotel"]

In [32]:
test_results = stats.ttest_ind(city_hotel.adr, resort_hotel.adr)
test_results

Ttest_indResult(statistic=24.3645011176397, pvalue=1.515001128004243e-130)

In [34]:
for col in categorical:
    print(train[col].value_counts())
    print(" ")

City Hotel      44543
Resort Hotel    22315
Name: hotel, dtype: int64

0    42197
1    24661
Name: is_canceled, dtype: int64

2016    31744
2017    22761
2015    12353
Name: arrival_date_year, dtype: int64

August       7725
July         7124
May          6529
October      6207
April        6179
June         6174
September    5889
March        5417
February     4575
November     3891
December     3773
January      3375
Name: arrival_date_month, dtype: int64

BB           51766
HB            8011
SC            6002
Undefined      643
FB             436
Name: meal, dtype: int64

PRT    27553
GBR     6693
FRA     5863
ESP     4840
DEU     4040
       ...
GUY        1
COM        1
ATF        1
HND        1
UGA        1
Name: country, Length: 163, dtype: int64

Online TA        31737
Offline TA/TO    13565
Groups           10973
Direct            7029
Corporate         2998
Complementary      415
Aviation           139
Undefined            2
Name: market_segment, dtype: int64

TA/TO        54813
Direct        8148
Corporate     3777
GDS            116
Undefined        4
Name: distribution_channel, dtype: int64

0    64710
1     2148
Name: is_repeated_guest, dtype: int64

A    48199
D    10767
E     3648
F     1635
G     1138
B      622
C      505
H      334
P        6
L        4
Name: reserved_room_type, dtype: int64

A    41561
D    14180
E     4346
F     2128
G     1409
C     1275
B     1200
H      400
I      203
K      150
P        6
Name: assigned_room_type, dtype: int64

No Deposit    58716
Non Refund     8062
Refundable       80
Name: deposit_type, dtype: int64

9.0      27159
240.0     7876
1.0       4064
14.0      2049
7.0       1951
         ...
278.0        1
289.0        1
117.0        1
408.0        1
341.0        1
Name: agent, Length: 306, dtype: int64

Transient          50162
Transient-Party    14076
Contract            2310
Group                310
Name: customer_type, dtype: int64

0    62657
1     4182
2       17
3        1
8        1
Name: required_car_parking_spaces, dtype: int64

Check-Out    42197
Canceled     23975
No-Show        686
Name: reservation_status, dtype: int64

33    2037
30    1753
32    1681
28    1660
34    1656
18    1610
17    1591
21    1561
42    1553
20    1529
31    1528
15    1495
27    1494
29    1493
23    1492
25    1488
38    1477
41    1472
35    1469
39    1462
22    1438
24    1391
16    1361
40    1358
26    1346
19    1345
13    1334
43    1314
44    1285
14    1252
8     1226
37    1224
36    1212
7     1210
9     1191
11    1176
10    1148
12    1138
45    1103
53    1029
49    1009
47     964
6      888
48     877
46     872
4      832
50     815
5      786
3      755
2      689
52     667
1      610
51     512
Name: arrival_date_week_number, dtype: int64

17    2450
5     2389
25    2373
15    2361
26    2310
12    2291
18    2287
16    2282
24    2281
19    2274
2     2269
28    2258
20    2250
9     2240
8     2215
3     2187
30    2169
6     2168
21    2136
13    2122
14    2112
4     2103
27    2102
23    2042
7     2031
1     2025
11    2016
22    2006
10    1964
29    1951
31    1194
Name: arrival_date_day_of_month, dtype: int64

0    39281
1    18641
2     7310
3     1410
4      194
5       22
Name: total_of_special_requests, dtype: int64

### Canceled

In [37]:
not_canceled = train[train.is_canceled == 0]
canceled = train[train.is_canceled == 1]

In [38]:
test_results = stats.ttest_ind(not_cancelled.adr, cancelled.adr)
test_results

Ttest_indResult(statistic=-11.842905472579185, pvalue=2.5231057668841014e-32)

### Arrived

In [44]:
arrived_2015 = train[train.arrival_date_year == 2015]
arrived_2016 = train[train.arrival_date_year == 2016]
arrived_2017 = train[train.arrival_date_year == 2017]

In [46]:
test_results = stats.ttest_1samp(arrived_2015.adr, train.adr.mean())
test_results

Ttest_1sampResult(statistic=-37.66847294275936, pvalue=4.8384386985830036e-294)

In [47]:
test_results = stats.ttest_1samp(arrived_2016.adr, train.adr.mean())
test_results

Ttest_1sampResult(statistic=-11.150751895195732, pvalue=8.032855099383927e-29)

In [48]:
test_results = stats.ttest_1samp(arrived_2017.adr, train.adr.mean())
test_results

Ttest_1sampResult(statistic=36.638993581686144, pvalue=1.3214760666002303e-285)

### Month

In [57]:
months = train.arrival_date_month.unique()

In [59]:
list_of_months = list(months)

In [61]:
for month in list_of_months:
    print(month)
    print(stats.ttest_1samp(train[train.arrival_date_month == month].adr, train.adr.mean()))
    print(" ")

September
Ttest_1sampResult(statistic=6.232005393097418, pvalue=4.924204540703545e-10)

December
Ttest_1sampResult(statistic=-28.050605358619908, pvalue=2.0421508792209118e-157)

August
Ttest_1sampResult(statistic=53.9788186544037, pvalue=0.0)

April
Ttest_1sampResult(statistic=-3.18384321238499, pvalue=0.0014605510489305352)

October
Ttest_1sampResult(statistic=-30.198211258121244, pvalue=4.922906525488024e-187)

July
Ttest_1sampResult(statistic=40.496518325457075, pvalue=0.0)

January
Ttest_1sampResult(statistic=-64.02277236105576, pvalue=0.0)

November
Ttest_1sampResult(statistic=-54.065961386804666, pvalue=0.0)

February
Ttest_1sampResult(statistic=-62.98372197747219, pvalue=0.0)

March
Ttest_1sampResult(statistic=-18.659303090838705, pvalue=2.3442075886511354e-75)

June
Ttest_1sampResult(statistic=30.138343623794484, pvalue=2.7631178387698705e-186)

May
Ttest_1sampResult(statistic=13.013940711677614, pvalue=3.0401145234314255e-38)

In [64]:
def one_sample_test(feature):
    first_array = train[feature].unique()
    first_list = list(first_array)
    
    for col in first_list:
        print(col)
        print(stats.ttest_1samp(train[train[feature] == col].adr, train.adr.mean()))
        print(" ")

### Meal

In [66]:
one_sample_test('meal')

BB
Ttest_1sampResult(statistic=-10.739878236329545, pvalue=7.059174089797693e-27)

SC
Ttest_1sampResult(statistic=-9.447213650800142, pvalue=4.868945778422467e-21)

HB
Ttest_1sampResult(statistic=29.433317961501547, pvalue=6.762498559896371e-181)

Undefined
Ttest_1sampResult(statistic=-4.160519991340183, pvalue=3.607609517928183e-05)

FB
Ttest_1sampResult(statistic=1.8855966819016665, pvalue=0.06001542958006228)

In [68]:
for element in categorical: 
    print(element)
    one_sample_test(element)
    print(" ")

hotel
City Hotel
Ttest_1sampResult(statistic=15.712200096386113, pvalue=1.7592664642776677e-55)

Resort Hotel
Ttest_1sampResult(statistic=-16.843202927918025, pvalue=2.895967658105495e-63)


is_canceled
1
Ttest_1sampResult(statistic=8.604386543953076, pvalue=8.122212268028148e-18)

0
Ttest_1sampResult(statistic=-7.642825572519328, pvalue=2.1699028373856572e-14)


arrival_date_year
2015
Ttest_1sampResult(statistic=-37.66847294275936, pvalue=4.8384386985830036e-294)

2016
Ttest_1sampResult(statistic=-11.150751895195732, pvalue=8.032855099383927e-29)

2017
Ttest_1sampResult(statistic=36.638993581686144, pvalue=1.3214760666002303e-285)


arrival_date_month
September
Ttest_1sampResult(statistic=6.232005393097418, pvalue=4.924204540703545e-10)

December
Ttest_1sampResult(statistic=-28.050605358619908, pvalue=2.0421508792209118e-157)

August
Ttest_1sampResult(statistic=53.9788186544037, pvalue=0.0)

April
Ttest_1sampResult(statistic=-3.18384321238499, pvalue=0.0014605510489305352)

October
Ttest_1sampResult(statistic=-30.198211258121244, pvalue=4.922906525488024e-187)

July
Ttest_1sampResult(statistic=40.496518325457075, pvalue=0.0)

January
Ttest_1sampResult(statistic=-64.02277236105576, pvalue=0.0)

November
Ttest_1sampResult(statistic=-54.065961386804666, pvalue=0.0)

February
Ttest_1sampResult(statistic=-62.98372197747219, pvalue=0.0)

March
Ttest_1sampResult(statistic=-18.659303090838705, pvalue=2.3442075886511354e-75)

June
Ttest_1sampResult(statistic=30.138343623794484, pvalue=2.7631178387698705e-186)

May
Ttest_1sampResult(statistic=13.013940711677614, pvalue=3.0401145234314255e-38)


meal
BB
Ttest_1sampResult(statistic=-10.739878236329545, pvalue=7.059174089797693e-27)

SC
Ttest_1sampResult(statistic=-9.447213650800142, pvalue=4.868945778422467e-21)

HB
Ttest_1sampResult(statistic=29.433317961501547, pvalue=6.762498559896371e-181)

Undefined
Ttest_1sampResult(statistic=-4.160519991340183, pvalue=3.607609517928183e-05)

FB
Ttest_1sampResult(statistic=1.8855966819016665, pvalue=0.06001542958006228)


country
PRT
Ttest_1sampResult(statistic=-29.405105612415667, pvalue=3.6907339981081314e-187)

CN
Ttest_1sampResult(statistic=2.943939245840275, pvalue=0.0033451012967220532)

DEU
Ttest_1sampResult(statistic=5.04915845691023, pvalue=4.6333253678102504e-07)

USA
Ttest_1sampResult(statistic=14.884765897707425, pvalue=4.829762387218137e-46)

ESP
Ttest_1sampResult(statistic=18.92228387732337, pvalue=4.2765058577242435e-77)

GBR
Ttest_1sampResult(statistic=-10.021062392868586, pvalue=1.8018842853280068e-23)

FRA
Ttest_1sampResult(statistic=12.686015220134195, pvalue=2.1200240526845557e-36)

NLD
Ttest_1sampResult(statistic=4.783393059852641, pvalue=1.942684131546676e-06)

IRL
Ttest_1sampResult(statistic=-3.4954832804826586, pvalue=0.000484172767146462)

TUR
Ttest_1sampResult(statistic=2.759212688498024, pvalue=0.006563503410425729)

CHN
Ttest_1sampResult(statistic=4.896815808199305, pvalue=1.2646840794457605e-06)

FIN
Ttest_1sampResult(statistic=0.7530105180488144, pvalue=0.4521464754706147)

BEL
Ttest_1sampResult(statistic=9.825314802234294, pvalue=5.168702795089201e-22)

RUS
Ttest_1sampResult(statistic=6.9002848763754985, pvalue=2.3213167752158073e-11)

BRA
Ttest_1sampResult(statistic=7.100959549069313, pvalue=2.087570547599293e-12)

ITA
Ttest_1sampResult(statistic=13.770591805657217, pvalue=1.998496643339294e-41)

TUN
Ttest_1sampResult(statistic=1.7452906923991518, pvalue=0.0955513667187207)

LUX
Ttest_1sampResult(statistic=7.629250073701721, pvalue=1.7471291706330035e-12)

POL
Ttest_1sampResult(statistic=3.6373132388465588, pvalue=0.0003030673193753403)

GRC
Ttest_1sampResult(statistic=1.757013166214108, pvalue=0.08322671236060422)

SWE
Ttest_1sampResult(statistic=6.505920801622567, pvalue=1.6896709510374214e-10)

HUN
Ttest_1sampResult(statistic=3.4543413358729933, pvalue=0.000730270239354492)

CHE
Ttest_1sampResult(statistic=11.421367240160276, pvalue=1.7727485557394277e-28)

ZAF
Ttest_1sampResult(statistic=0.7093129812767199, pvalue=0.4821446675959251)

AUT
Ttest_1sampResult(statistic=2.207391730679549, pvalue=0.027616984441158038)

NOR
Ttest_1sampResult(statistic=8.297387080871948, pvalue=2.824862109571272e-15)

TWN
Ttest_1sampResult(statistic=4.05907854451858, pvalue=0.00040069186793152234)

EST
Ttest_1sampResult(statistic=0.5933989375089863, pvalue=0.5554866178435401)

SLV
Ttest_1sampResult(statistic=4.211977315687166, pvalue=0.14839756534175044)

IRN
Ttest_1sampResult(statistic=3.493651634667657, pvalue=0.0010650441884267137)

ROU
Ttest_1sampResult(statistic=3.0579565657319354, pvalue=0.0024593081729627386)

DNK
Ttest_1sampResult(statistic=6.165008650304615, pvalue=3.078576385342675e-09)

ISR
Ttest_1sampResult(statistic=4.278901177309416, pvalue=2.3932357471643467e-05)

MAR
Ttest_1sampResult(statistic=6.274865302313931, pvalue=3.6595915620532597e-09)

IND
Ttest_1sampResult(statistic=2.731976643914766, pvalue=0.007725702454327192)

COL
Ttest_1sampResult(statistic=2.62905477239423, pvalue=0.01251223738439051)

LTU
Ttest_1sampResult(statistic=0.37966649229627775, pvalue=0.7061060389936581)

AUS
Ttest_1sampResult(statistic=5.241419474563508, pvalue=3.8413556398021966e-07)

AGO
Ttest_1sampResult(statistic=3.782491308952797, pvalue=0.0002024511663480399)

IDN
Ttest_1sampResult(statistic=1.8816736917512409, pvalue=0.07820183409032919)

DZA
Ttest_1sampResult(statistic=2.1082845207283136, pvalue=0.039121879895692754)

KOR
Ttest_1sampResult(statistic=2.9546323718545957, pvalue=0.004165697183295391)

GLP
Ttest_1sampResult(statistic=nan, pvalue=nan)

CZE
Ttest_1sampResult(statistic=2.3369679214032577, pvalue=0.021635160068265016)

URY
Ttest_1sampResult(statistic=3.893322909662114, pvalue=0.001622945899299484)

HKG
Ttest_1sampResult(statistic=3.5282941834123474, pvalue=0.0025807439426399244)

SGP
Ttest_1sampResult(statistic=-0.8436549102372868, pvalue=0.40686262876757906)

MOZ
Ttest_1sampResult(statistic=2.065135904956905, pvalue=0.04660196864910985)

BGR
Ttest_1sampResult(statistic=2.2253736244433253, pvalue=0.030504942076012467)

VEN
Ttest_1sampResult(statistic=0.13611290628499598, pvalue=0.8939887864288993)

UMI
Ttest_1sampResult(statistic=nan, pvalue=nan)

MEX
Ttest_1sampResult(statistic=2.2960116143422717, pvalue=0.0261809486070282)

NGA
Ttest_1sampResult(statistic=1.7726515930908004, pvalue=0.09532269667911092)

SRB
Ttest_1sampResult(statistic=-0.505919795432424, pvalue=0.6147667525300571)

ARE
Ttest_1sampResult(statistic=4.199592326365061, pvalue=0.0002455273450807435)

UKR
Ttest_1sampResult(statistic=-1.0635209852959444, pvalue=0.2932196893793283)

MAC
Ttest_1sampResult(statistic=0.18499234397525227, pvalue=0.8578388946092593)

ARG
Ttest_1sampResult(statistic=3.852292820867327, pvalue=0.00019886653457748763)

CUB
Ttest_1sampResult(statistic=-0.6520780184241569, pvalue=0.5499234370606014)

UZB
Ttest_1sampResult(statistic=-0.25975140958672654, pvalue=0.8118615850372797)

GHA
Ttest_1sampResult(statistic=nan, pvalue=nan)

JPN
Ttest_1sampResult(statistic=6.139010635287786, pvalue=1.4994304662805908e-08)

PRI
Ttest_1sampResult(statistic=-0.989780554643445, pvalue=0.3512693418099686)

CYP
Ttest_1sampResult(statistic=-0.4056412401891974, pvalue=0.6893130065488744)

CIV
Ttest_1sampResult(statistic=0.6509806420328625, pvalue=0.561474477744866)

GIB
Ttest_1sampResult(statistic=2.6168809046527493, pvalue=0.03079931725021533)

CAF
Ttest_1sampResult(statistic=-114.33251126957039, pvalue=0.005568001019779193)

MKD
Ttest_1sampResult(statistic=-3.685388284911968, pvalue=0.010264770832809854)

DOM
Ttest_1sampResult(statistic=1.4470785315553703, pvalue=0.19802510889035446)

HRV
Ttest_1sampResult(statistic=2.432282017563383, pvalue=0.0180566290534796)

SVK
Ttest_1sampResult(statistic=0.0857652493155099, pvalue=0.9322045780146975)

PRY
Ttest_1sampResult(statistic=nan, pvalue=nan)

JOR
Ttest_1sampResult(statistic=-1.3895719106789741, pvalue=0.18799907652631406)

KAZ
Ttest_1sampResult(statistic=2.5916212945452752, pvalue=0.03203227258158525)

KEN
Ttest_1sampResult(statistic=1.767610255300121, pvalue=0.21915820443473846)

CPV
Ttest_1sampResult(statistic=-0.652789500003427, pvalue=0.5231616350362673)

SVN
Ttest_1sampResult(statistic=2.402143540687431, pvalue=0.023446181500912492)

NZL
Ttest_1sampResult(statistic=2.0978445342049135, pvalue=0.042448467209085745)

AZE
Ttest_1sampResult(statistic=0.8268402228056694, pvalue=0.4297033408831197)

CHL
Ttest_1sampResult(statistic=2.4450801711317776, pvalue=0.01981636286136663)

ALB
Ttest_1sampResult(statistic=-1.9317432533826888, pvalue=0.11124148059601248)

ARM
Ttest_1sampResult(statistic=-0.025329566782119495, pvalue=0.9820921636920588)

ECU
Ttest_1sampResult(statistic=1.5256579076351127, pvalue=0.14936506370408095)

MNE
Ttest_1sampResult(statistic=0.326065146926864, pvalue=0.7607208337545346)

LVA
Ttest_1sampResult(statistic=-0.6727612249268121, pvalue=0.5059287714487631)

OMN
Ttest_1sampResult(statistic=0.4103438130187322, pvalue=0.6938224449120478)

PHL
Ttest_1sampResult(statistic=4.852200474991376, pvalue=0.00011068816630918216)

ISL
Ttest_1sampResult(statistic=0.6237600289532974, pvalue=0.5380198338162234)

SAU
Ttest_1sampResult(statistic=3.1844289594760293, pvalue=0.0037444127795396333)

IMN
Ttest_1sampResult(statistic=nan, pvalue=nan)

BOL
Ttest_1sampResult(statistic=-0.1349677824642483, pvalue=0.9011839309319294)

EGY
Ttest_1sampResult(statistic=0.8243239443793211, pvalue=0.41902026963719574)

GEO
Ttest_1sampResult(statistic=2.4913788990963237, pvalue=0.03434421819228226)

THA
Ttest_1sampResult(statistic=1.574198009406763, pvalue=0.12667458969680967)

LKA

Ttest_1sampResult(statistic=-1.1201376485344068, pvalue=0.46396446214656983)

BIH
Ttest_1sampResult(statistic=0.2106493192621282, pvalue=0.8384273827076364)

KWT
Ttest_1sampResult(statistic=2.772856865195988, pvalue=0.02165213665553604)

PER
Ttest_1sampResult(statistic=1.2320195594885468, pvalue=0.2337940472074269)

TJK
Ttest_1sampResult(statistic=4.768959744824768, pvalue=0.008846823341739283)

MDV
Ttest_1sampResult(statistic=-0.2510108410097106, pvalue=0.8141728175468482)

MYS
Ttest_1sampResult(statistic=-5.175751601202044, pvalue=0.00017847038379049438)

MUS
Ttest_1sampResult(statistic=-2.5454275197993392, pvalue=0.2383104817793428)

VNM
Ttest_1sampResult(statistic=0.07847314730233539, pvalue=0.9412205239781931)

BLR
Ttest_1sampResult(statistic=0.19276185298152823, pvalue=0.8495710003525374)

LBN
Ttest_1sampResult(statistic=1.5507059168775388, pvalue=0.14496773254757866)

SEN
Ttest_1sampResult(statistic=0.8614307970509195, pvalue=0.4175293686594438)

CRI
Ttest_1sampResult(statistic=-0.46837612170889986, pvalue=0.6495581741089853)

AND
Ttest_1sampResult(statistic=6.433450119018441, pvalue=0.023319056375585755)

QAT
Ttest_1sampResult(statistic=2.987184550187978, pvalue=0.030546145393405486)

IRQ
Ttest_1sampResult(statistic=1.4053588383902422, pvalue=0.21890034898447067)

HND
Ttest_1sampResult(statistic=nan, pvalue=nan)

UGA
Ttest_1sampResult(statistic=nan, pvalue=nan)

LIE
Ttest_1sampResult(statistic=0.04957061167228437, pvalue=0.9649697971856193)

DMA
Ttest_1sampResult(statistic=nan, pvalue=nan)

SYC
Ttest_1sampResult(statistic=nan, pvalue=nan)

GNB
Ttest_1sampResult(statistic=-2.5830456930120778, pvalue=0.08156406412938044)

AIA
Ttest_1sampResult(statistic=nan, pvalue=nan)

BRB
Ttest_1sampResult(statistic=-inf, pvalue=0.0)

GUY
Ttest_1sampResult(statistic=nan, pvalue=nan)

ZWE
Ttest_1sampResult(statistic=-0.3069593609309421, pvalue=0.7878860112976241)

FRO
Ttest_1sampResult(statistic=3.236359876627871, pvalue=0.19078422362484007)

LBY
Ttest_1sampResult(statistic=-0.2448435330012554, pvalue=0.8186252625380447)

SUR
Ttest_1sampResult(statistic=0.6965028608392595, pvalue=0.5581757475658928)

MLT
Ttest_1sampResult(statistic=-0.9511399422733137, pvalue=0.36938047175612815)

PAK
Ttest_1sampResult(statistic=1.4138200114797874, pvalue=0.1951270647719678)

PAN
Ttest_1sampResult(statistic=-1.4729613195006022, pvalue=0.214753816008285)

ASM
Ttest_1sampResult(statistic=nan, pvalue=nan)

SYR
Ttest_1sampResult(statistic=-0.9154581172035228, pvalue=0.5280800326197115)

COM
Ttest_1sampResult(statistic=nan, pvalue=nan)

TGO
Ttest_1sampResult(statistic=nan, pvalue=nan)

DJI
Ttest_1sampResult(statistic=nan, pvalue=nan)

JAM
Ttest_1sampResult(statistic=-0.35948546642081725, pvalue=0.7430466744261606)

TZA
Ttest_1sampResult(statistic=-0.6172452846045725, pvalue=0.6479470721487708)

MYT
Ttest_1sampResult(statistic=0.9633466294591991, pvalue=0.511883561348538)

NPL
Ttest_1sampResult(statistic=nan, pvalue=nan)

PLW
Ttest_1sampResult(statistic=nan, pvalue=nan)

GGY
Ttest_1sampResult(statistic=-0.09185933440953137, pvalue=0.9351822331076971)

BEN
Ttest_1sampResult(statistic=inf, pvalue=0.0)

NAM
Ttest_1sampResult(statistic=nan, pvalue=nan)

BGD
Ttest_1sampResult(statistic=3.2308874651092854, pvalue=0.017890521174437547)

BHR
Ttest_1sampResult(statistic=3.5710439607592326, pvalue=0.0375242171913434)

GTM
Ttest_1sampResult(statistic=-13.295484310029357, pvalue=0.005609516086287142)

TMP
Ttest_1sampResult(statistic=1.95843855697183, pvalue=0.30054833506236533)

MDG
Ttest_1sampResult(statistic=nan, pvalue=nan)

NIC
Ttest_1sampResult(statistic=nan, pvalue=nan)

PYF
Ttest_1sampResult(statistic=nan, pvalue=nan)

NCL
Ttest_1sampResult(statistic=nan, pvalue=nan)

ABW
Ttest_1sampResult(statistic=0.901620554530059, pvalue=0.532905888467631)

SDN
Ttest_1sampResult(statistic=nan, pvalue=nan)

MCO
Ttest_1sampResult(statistic=nan, pvalue=nan)

FJI
Ttest_1sampResult(statistic=nan, pvalue=nan)

GAB
Ttest_1sampResult(statistic=nan, pvalue=nan)

ZMB
Ttest_1sampResult(statistic=nan, pvalue=nan)

RWA
Ttest_1sampResult(statistic=nan, pvalue=nan)

SLE
Ttest_1sampResult(statistic=nan, pvalue=nan)

ATF
Ttest_1sampResult(statistic=nan, pvalue=nan)

KIR
Ttest_1sampResult(statistic=nan, pvalue=nan)

ETH
Ttest_1sampResult(statistic=nan, pvalue=nan)

ATA
Ttest_1sampResult(statistic=nan, pvalue=nan)

CMR
Ttest_1sampResult(statistic=-0.7171391746875886, pvalue=0.603935672593263)

SMR
Ttest_1sampResult(statistic=nan, pvalue=nan)

MRT
Ttest_1sampResult(statistic=nan, pvalue=nan)

KHM
Ttest_1sampResult(statistic=nan, pvalue=nan)


market_segment
Groups
Ttest_1sampResult(statistic=-70.7597481629325, pvalue=0.0)

Online TA
Ttest_1sampResult(statistic=56.23028231006363, pvalue=0.0)

Direct
Ttest_1sampResult(statistic=18.918574816608864, pvalue=6.7482375107026055e-78)

Offline TA/TO
Ttest_1sampResult(statistic=-29.412269600397934, pvalue=2.205298444637805e-184)

Corporate
Ttest_1sampResult(statistic=-56.7813688915794, pvalue=0.0)

Complementary
Ttest_1sampResult(statistic=-136.62578568046564, pvalue=0.0)

Aviation
Ttest_1sampResult(statistic=-0.8120205120800215, pvalue=0.4181783496778332)

Undefined
Ttest_1sampResult(statistic=-28.962150976696023, pvalue=0.02197236549344986)


distribution_channel
TA/TO
Ttest_1sampResult(statistic=6.915452622432432, pvalue=4.714631561222608e-12)

Direct
Ttest_1sampResult(statistic=6.962498846545103, pvalue=3.602410169535922e-12)

Corporate
Ttest_1sampResult(statistic=-59.06301051300628, pvalue=0.0)

GDS
Ttest_1sampResult(statistic=4.190155549731494, pvalue=5.4939056998385745e-05)

Undefined
Ttest_1sampResult(statistic=-4.605905677555531, pvalue=0.019245658170959606)


is_repeated_guest
0
Ttest_1sampResult(statistic=5.915978232580667, pvalue=3.315618271309139e-09)

1
Ttest_1sampResult(statistic=-36.02358987218406, pvalue=1.0899998582032218e-222)


reserved_room_type
A
Ttest_1sampResult(statistic=-53.512664688708234, pvalue=0.0)

D
Ttest_1sampResult(statistic=40.4794778803525, pvalue=0.0)

E
Ttest_1sampResult(statistic=23.095742588017735, pvalue=2.909514838070371e-110)

F
Ttest_1sampResult(statistic=42.09629778452021, pvalue=6.45211009785486e-263)

H
Ttest_1sampResult(statistic=22.0917855134769, pvalue=3.141636112093225e-67)

C
Ttest_1sampResult(statistic=17.694045154114228, pvalue=7.574727027918787e-55)

G
Ttest_1sampResult(statistic=32.772141199040824, pvalue=2.1379529987552735e-166)

B
Ttest_1sampResult(statistic=-8.626051924171618, pvalue=5.2998402799645724e-17)

L
Ttest_1sampResult(statistic=1.6533178104427961, pvalue=0.19683736272869903)

P
Ttest_1sampResult(statistic=-inf, pvalue=0.0)


assigned_room_type
A
Ttest_1sampResult(statistic=-39.173120169981686, pvalue=0.0)

D
Ttest_1sampResult(statistic=12.880221164803498, pvalue=9.469565088099509e-38)

E
Ttest_1sampResult(statistic=18.223175516993223, pvalue=1.4713061004013078e-71)

C
Ttest_1sampResult(statistic=6.463926889973111, pvalue=1.4495247343068991e-10)

F
Ttest_1sampResult(statistic=34.72388178114, pvalue=1.0932403005035792e-209)

B
Ttest_1sampResult(statistic=-7.648592481251594, pvalue=4.1528946520827535e-14)

H
Ttest_1sampResult(statistic=17.031446471594137, pvalue=2.8062029161472234e-49)

G
Ttest_1sampResult(statistic=31.16948056626291, pvalue=1.2225608112383295e-162)

K
Ttest_1sampResult(statistic=-8.016375045606791, pvalue=2.930527934104882e-13)

I
Ttest_1sampResult(statistic=-13.399325673263808, pvalue=1.0345957380298848e-29)

P
Ttest_1sampResult(statistic=-inf, pvalue=0.0)


deposit_type
Non Refund
Ttest_1sampResult(statistic=-16.124903251601094, pvalue=1.349409234830771e-57)

No Deposit
Ttest_1sampResult(statistic=8.153695423530682, pvalue=3.598718647239956e-16)

Refundable
Ttest_1sampResult(statistic=-7.251756721769492, pvalue=2.457124153086688e-10)


agent
1.0
Ttest_1sampResult(statistic=-67.609172663952, pvalue=0.0)

240.0
Ttest_1sampResult(statistic=19.002907537092913, pvalue=9.166743688685641e-79)

242.0
Ttest_1sampResult(statistic=6.772939993625628, pvalue=4.21552016000945e-11)

9.0
Ttest_1sampResult(statistic=28.46497464118184, pvalue=1.2090982330604148e-175)

98.0
Ttest_1sampResult(statistic=7.028040797488259, pvalue=1.2627907815054986e-09)

5.0
Ttest_1sampResult(statistic=0.13443840916592706, pvalue=0.8931989662832133)

306.0
Ttest_1sampResult(statistic=-1.4885119591463167, pvalue=0.1508114027577318)

96.0
Ttest_1sampResult(statistic=-16.358459951381427, pvalue=2.714126769554227e-43)

250.0
Ttest_1sampResult(statistic=17.067712892527574, pvalue=4.55420169019377e-60)

177.0
Ttest_1sampResult(statistic=-11.71476964448714, pvalue=2.9033746363080614e-24)

28.0
Ttest_1sampResult(statistic=-27.615207649067678, pvalue=1.7418027230417523e-123)

241.0
Ttest_1sampResult(statistic=-1.4425178386906818, pvalue=0.1494856012087139)

8.0
Ttest_1sampResult(statistic=3.884327292561157, pvalue=0.0001105909852451174)

4.0
Ttest_1sampResult(statistic=-4.618817777894197, pvalue=0.00013309497704997955)

68.0
Ttest_1sampResult(statistic=-19.277691879612966, pvalue=6.576902705975676e-37)

42.0
Ttest_1sampResult(statistic=-5.9000434392086, pvalue=3.442069311902888e-08)

236.0
Ttest_1sampResult(statistic=34.455538646398324, pvalue=2.7352443432753073e-72)

85.0
Ttest_1sampResult(statistic=-17.343662058274592, pvalue=1.4279755214821515e-47)

350.0
Ttest_1sampResult(statistic=-8.057253411802506, pvalue=2.068038789041298e-06)

22.0
Ttest_1sampResult(statistic=-11.801268466757211, pvalue=2.871253469167604e-25)

77.0
Ttest_1sampResult(statistic=-0.2562259077291154, pvalue=0.8003934598358101)

14.0
Ttest_1sampResult(statistic=23.405175947191783, pvalue=1.4825308072653372e-107)

83.0
Ttest_1sampResult(statistic=0.23020117025892897, pvalue=0.8180580346392963)

30.0
Ttest_1sampResult(statistic=-1.9390369408198056, pvalue=0.05351968679228055)

134.0
Ttest_1sampResult(statistic=-17.109122828485535, pvalue=1.2725925562976887e-44)

10.0
Ttest_1sampResult(statistic=-5.215793287167519, pvalue=5.939163756396287e-07)

281.0
Ttest_1sampResult(statistic=-9.494916550110917, pvalue=4.991118017054082e-13)

56.0
Ttest_1sampResult(statistic=-6.3394520511386565, pvalue=1.3269499709962405e-09)

174.0
Ttest_1sampResult(statistic=0.9511298635721571, pvalue=0.3639603611752712)

336.0
Ttest_1sampResult(statistic=-10.752047376923993, pvalue=1.9091484689191412e-08)

19.0
Ttest_1sampResult(statistic=0.11259561388597883, pvalue=0.9103890114804164)

7.0
Ttest_1sampResult(statistic=-7.14558935200578, pvalue=1.260657179314878e-12)

253.0
Ttest_1sampResult(statistic=-4.233249335121416, pvalue=0.00011202674188743102)

21.0
Ttest_1sampResult(statistic=-24.937507533221225, pvalue=1.3445203799989392e-88)

208.0
Ttest_1sampResult(statistic=-18.777349274808955, pvalue=1.2760214328307117e-31)

3.0
Ttest_1sampResult(statistic=-20.066125511496402, pvalue=2.495932597110276e-71)

40.0
Ttest_1sampResult(statistic=-13.063387725725981, pvalue=1.9490374800606636e-34)

12.0
Ttest_1sampResult(statistic=0.32658837803025864, pvalue=0.7441807742225353)

191.0
Ttest_1sampResult(statistic=12.417251872540819, pvalue=2.1685071161294203e-23)

75.0
Ttest_1sampResult(statistic=-4.176843292257179, pvalue=0.0001665171320066183)

173.0
Ttest_1sampResult(statistic=-4.977029055767834, pvalue=0.0001370775351395058)

6.0
Ttest_1sampResult(statistic=-14.26182310950123, pvalue=7.843524570909265e-44)

440.0
Ttest_1sampResult(statistic=-50.0427283168616, pvalue=1.8247274825724585e-30)

298.0
Ttest_1sampResult(statistic=-26.24748873196305, pvalue=2.091908294127262e-73)

229.0
Ttest_1sampResult(statistic=-6.386245878475682, pvalue=4.3895070381782625e-10)

531.0
Ttest_1sampResult(statistic=2.3818992086399, pvalue=0.0227915028605723)

330.0
Ttest_1sampResult(statistic=-21.806656325542825, pvalue=3.848802808874158e-32)

314.0
Ttest_1sampResult(statistic=-12.775780093991994, pvalue=1.338602496902593e-32)

315.0
Ttest_1sampResult(statistic=-10.425161800632253, pvalue=7.635615709616666e-20)

248.0
Ttest_1sampResult(statistic=-16.851557016476626, pvalue=1.0770324872780947e-26)

26.0
Ttest_1sampResult(statistic=-4.077205235608487, pvalue=6.388706302093719e-05)

58.0
Ttest_1sampResult(statistic=-3.2865754238886873, pvalue=0.0012229249209105835)

495.0
Ttest_1sampResult(statistic=-4.824094081319292, pvalue=4.886641766926071e-05)

20.0
Ttest_1sampResult(statistic=-13.635454783985264, pvalue=1.7304292689590182e-33)

15.0
Ttest_1sampResult(statistic=-3.768965953553576, pvalue=0.00020527215484421012)

115.0
Ttest_1sampResult(statistic=-14.873234994358933, pvalue=1.1981661959786421e-28)

143.0
Ttest_1sampResult(statistic=-6.965442840498036, pvalue=4.2459331816208965e-10)

86.0
Ttest_1sampResult(statistic=-0.3475977542291113, pvalue=0.728543950903877)

195.0
Ttest_1sampResult(statistic=3.555547423873995, pvalue=0.0005470111752879806)

133.0
Ttest_1sampResult(statistic=2.879031112985262, pvalue=0.007419204932854421)

16.0
Ttest_1sampResult(statistic=-7.39621871294346, pvalue=1.49226422878834e-11)

32.0
Ttest_1sampResult(statistic=-2.5656491692785655, pvalue=0.028099587708833435)

38.0
Ttest_1sampResult(statistic=-33.95510975424033, pvalue=1.8512211945730356e-71)

119.0
Ttest_1sampResult(statistic=2.5007683321528376, pvalue=0.013374211695741418)

468.0
Ttest_1sampResult(statistic=-0.8561139622228221, pvalue=0.39850408257669123)

37.0
Ttest_1sampResult(statistic=-10.760612776975043, pvalue=4.427454330042054e-25)

251.0
Ttest_1sampResult(statistic=-13.00383966754094, pvalue=1.1572015896186955e-24)

11.0
Ttest_1sampResult(statistic=-15.96039342362173, pvalue=2.3958201492294434e-38)

110.0
Ttest_1sampResult(statistic=1.5193097249200365, pvalue=0.2680300595239132)

13.0
Ttest_1sampResult(statistic=-0.7525197061136101, pvalue=0.45519803481635546)

23.0
Ttest_1sampResult(statistic=-6.861333328639624, pvalue=3.8255026535754465e-06)

308.0
Ttest_1sampResult(statistic=1.3844084464065125, pvalue=0.1795192364794096)

171.0
Ttest_1sampResult(statistic=-17.626517831105783, pvalue=3.7708841653165554e-50)

2.0
Ttest_1sampResult(statistic=-7.533364282451257, pvalue=2.859922571797635e-11)

111.0
Ttest_1sampResult(statistic=0.08418567984305941, pvalue=0.9344213926253813)

17.0
Ttest_1sampResult(statistic=-7.223061380860661, pvalue=3.7259690083399714e-11)

205.0
Ttest_1sampResult(statistic=1.7000956618871226, pvalue=0.11486147998505152)

152.0
Ttest_1sampResult(statistic=-8.868762890152327, pvalue=3.707208898472784e-14)

138.0
Ttest_1sampResult(statistic=-18.921592676991807, pvalue=2.7252123830939702e-43)

57.0
Ttest_1sampResult(statistic=-1.4637904821093963, pvalue=0.15960007963729492)

33.0
Ttest_1sampResult(statistic=-5.3955445089460845, pvalue=3.9763186446538274e-05)

385.0
Ttest_1sampResult(statistic=-6.20902118482527, pvalue=5.221993875351303e-07)

27.0
Ttest_1sampResult(statistic=-19.397038251057435, pvalue=3.978728538932245e-51)

55.0
Ttest_1sampResult(statistic=-27.88645293008807, pvalue=4.763059581539196e-10)

99.0
Ttest_1sampResult(statistic=-1.6798598505979963, pvalue=0.10059008908874341)

170.0
Ttest_1sampResult(statistic=3.9707600635941502, pvalue=0.00024424753389768215)

34.0
Ttest_1sampResult(statistic=1.4030982414785855, pvalue=0.16248954041547323)

324.0
Ttest_1sampResult(statistic=-inf, pvalue=0.0)

69.0
Ttest_1sampResult(statistic=-6.023204760742523, pvalue=9.692440622918055e-08)

29.0
Ttest_1sampResult(statistic=-2.7367235342058045, pvalue=0.006495278905571931)

234.0
Ttest_1sampResult(statistic=5.601948448237283, pvalue=4.0184632667215466e-07)

243.0
Ttest_1sampResult(statistic=-20.77397115874391, pvalue=1.5174749318242636e-57)

220.0
Ttest_1sampResult(statistic=-12.180313196804493, pvalue=1.2661693529432914e-17)

305.0
Ttest_1sampResult(statistic=-3.256860975246622, pvalue=0.002947553566100984)

168.0
Ttest_1sampResult(statistic=-7.8322216575437045, pvalue=4.70910486163057e-12)

118.0
Ttest_1sampResult(statistic=-5.41717508973989, pvalue=5.384649034116156e-06)

461.0
Ttest_1sampResult(statistic=2.238633737350351, pvalue=0.26744849730603437)

175.0
Ttest_1sampResult(statistic=-0.855352778711398, pvalue=0.3944422619106406)

44.0
Ttest_1sampResult(statistic=1.0435683103248847, pvalue=0.2983205447690465)

196.0
Ttest_1sampResult(statistic=2.6602775278504165, pvalue=0.008592701396898807)

223.0
Ttest_1sampResult(statistic=-6.644162327281396, pvalue=0.00029209612368049574)

88.0
Ttest_1sampResult(statistic=-8.417677432643284, pvalue=1.275383195897258e-06)

91.0
Ttest_1sampResult(statistic=-9.75136827706057, pvalue=1.6729877150037507e-10)

183.0
Ttest_1sampResult(statistic=-8.627821355223162, pvalue=2.250095893246936e-09)

273.0
Ttest_1sampResult(statistic=-32.62733589312695, pvalue=1.4115656269630806e-79)

82.0
Ttest_1sampResult(statistic=-19.626696378254007, pvalue=3.743386878932341e-21)

162.0
Ttest_1sampResult(statistic=inf, pvalue=0.0)

249.0

Ttest_1sampResult(statistic=-10.287334354346983, pvalue=1.1715087866729188e-10)

67.0
Ttest_1sampResult(statistic=-10.880618824042894, pvalue=1.2395820417633238e-15)

157.0
Ttest_1sampResult(statistic=-0.19401023042154017, pvalue=0.847394230719913)

375.0
Ttest_1sampResult(statistic=-14.86787479536797, pvalue=6.404256319576965e-14)

156.0
Ttest_1sampResult(statistic=-8.880097787515272, pvalue=7.905253755234542e-14)

155.0
Ttest_1sampResult(statistic=-4.927928760902748, pvalue=9.52929440386004e-06)

146.0
Ttest_1sampResult(statistic=-18.421873219675454, pvalue=1.6988782995312654e-27)

276.0
Ttest_1sampResult(statistic=-inf, pvalue=0.0)

31.0
Ttest_1sampResult(statistic=4.587697491126709, pvalue=1.4123303271538797e-05)

71.0
Ttest_1sampResult(statistic=-5.294853753507884, pvalue=4.067672855944083e-06)

310.0
Ttest_1sampResult(statistic=-3.6194780401418285, pvalue=0.004030142655150108)

526.0
Ttest_1sampResult(statistic=0.33522183331830646, pvalue=0.7510647865689619)

444.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

387.0
Ttest_1sampResult(statistic=-5.225049857420357, pvalue=3.0602274742590064e-05)

95.0
Ttest_1sampResult(statistic=-6.705690175262312, pvalue=4.7888045694730174e-09)

159.0
Ttest_1sampResult(statistic=1.8825250914468523, pvalue=0.06536519683400681)

394.0
Ttest_1sampResult(statistic=-0.9442401999703373, pvalue=0.35690043041247554)

52.0
Ttest_1sampResult(statistic=2.1718419692334, pvalue=0.03294603586526386)

149.0
Ttest_1sampResult(statistic=2.4934220848640276, pvalue=0.02482594662496914)

459.0
Ttest_1sampResult(statistic=1.1625805438393793, pvalue=0.27489889538067186)

154.0
Ttest_1sampResult(statistic=-2.663612826670717, pvalue=0.008998816271822738)

89.0
Ttest_1sampResult(statistic=-1.9835450483606432, pvalue=0.05181255043234217)

334.0
Ttest_1sampResult(statistic=-47.71409221939172, pvalue=4.200542560258893e-14)

147.0
Ttest_1sampResult(statistic=-5.249297538740293, pvalue=1.0102014202638753e-06)

94.0
Ttest_1sampResult(statistic=-18.553707391137657, pvalue=2.6534998514316686e-26)

39.0
Ttest_1sampResult(statistic=6.258866160080693, pvalue=2.1935491763674554e-08)

79.0
Ttest_1sampResult(statistic=-1.7476890251541968, pvalue=0.0918834864941303)

192.0
Ttest_1sampResult(statistic=-3.769166523683214, pvalue=0.0010572751786065916)

41.0
Ttest_1sampResult(statistic=-4.478202817207348, pvalue=5.899694767673029e-05)

252.0
Ttest_1sampResult(statistic=-70.53834701936476, pvalue=2.464556579263814e-20)

181.0
Ttest_1sampResult(statistic=3.8211008302677865, pvalue=0.0005064007638186252)

215.0
Ttest_1sampResult(statistic=-6.017653042840958, pvalue=8.702866743564806e-05)

201.0
Ttest_1sampResult(statistic=-4.5439833289931855, pvalue=0.00017702746535613312)

313.0
Ttest_1sampResult(statistic=-15.246511503691572, pvalue=7.853724671548452e-13)

153.0
Ttest_1sampResult(statistic=-0.540639367332293, pvalue=0.5978978482451374)

339.0
Ttest_1sampResult(statistic=-2.4073412397811658, pvalue=0.020541584425048123)

359.0
Ttest_1sampResult(statistic=21.559348871886616, pvalue=1.0288883585548095e-09)

455.0
Ttest_1sampResult(statistic=0.2318688052020229, pvalue=0.8280191090542923)

142.0
Ttest_1sampResult(statistic=-0.7147010658404664, pvalue=0.47710472203992527)

132.0
Ttest_1sampResult(statistic=-6.454748308004573, pvalue=8.781526238156386e-09)

527.0
Ttest_1sampResult(statistic=-0.43869479986069426, pvalue=0.6655851144360748)

47.0
Ttest_1sampResult(statistic=-6.165433839904901, pvalue=1.173975798062376e-06)

187.0
Ttest_1sampResult(statistic=2.254912334581268, pvalue=0.03850227525921156)

464.0
Ttest_1sampResult(statistic=-16.011073197159476, pvalue=5.931432929203899e-22)

493.0
Ttest_1sampResult(statistic=-7.794924708498553, pvalue=5.188602289573679e-07)

184.0
Ttest_1sampResult(statistic=-5.49959958605893, pvalue=9.03644975816288e-06)

434.0
Ttest_1sampResult(statistic=-5.7074028669076275, pvalue=4.151056969675187e-05)

112.0
Ttest_1sampResult(statistic=-2.189022607842555, pvalue=0.06477216384362525)

261.0
Ttest_1sampResult(statistic=2.6895502588623406, pvalue=0.014512600779188338)

327.0
Ttest_1sampResult(statistic=-3.4897255789386095, pvalue=0.0044656039753067514)

36.0
Ttest_1sampResult(statistic=-4.18006980148512, pvalue=0.00010529568469428072)

326.0
Ttest_1sampResult(statistic=-67.01815310059352, pvalue=3.033875060197486e-79)

104.0
Ttest_1sampResult(statistic=0.6256235194026938, pvalue=0.5372319315272124)

254.0
Ttest_1sampResult(statistic=4.265774852539603, pvalue=0.0005220693808068915)

63.0
Ttest_1sampResult(statistic=-14.685983902323043, pvalue=6.731258559424454e-10)

105.0
Ttest_1sampResult(statistic=4.715479262256809, pvalue=0.0015109510244826388)

286.0
Ttest_1sampResult(statistic=-9.657106278349758, pvalue=6.453159559787993e-10)

35.0
Ttest_1sampResult(statistic=-6.620412408357939, pvalue=2.1650832952184953e-08)

87.0
Ttest_1sampResult(statistic=1.4195787328248668, pvalue=0.16311036886065622)

436.0
Ttest_1sampResult(statistic=-4.118799266460137, pvalue=0.0002752117377551563)

332.0
Ttest_1sampResult(statistic=-38.97112793313191, pvalue=6.667036043653294e-28)

323.0
Ttest_1sampResult(statistic=inf, pvalue=0.0)

354.0
Ttest_1sampResult(statistic=0.5665442600245717, pvalue=0.5887193512384785)

210.0
Ttest_1sampResult(statistic=-17.444172779943464, pvalue=6.340076706919642e-05)

24.0
Ttest_1sampResult(statistic=-2.1294764754206854, pvalue=0.054605779863941335)

467.0
Ttest_1sampResult(statistic=-7.147406643197354, pvalue=2.802179580275923e-07)

185.0
Ttest_1sampResult(statistic=-34.27255441364307, pvalue=3.475000134426498e-30)

509.0
Ttest_1sampResult(statistic=inf, pvalue=0.0)

129.0
Ttest_1sampResult(statistic=-4.515967016405397, pvalue=0.004034818310350883)

410.0
Ttest_1sampResult(statistic=-7.4335819734801065, pvalue=1.4171909578123347e-10)

355.0
Ttest_1sampResult(statistic=-inf, pvalue=0.0)

287.0
Ttest_1sampResult(statistic=5.555615425745641, pvalue=0.005137968412691931)

151.0
Ttest_1sampResult(statistic=-5.352282970864952, pvalue=1.0594168943136067e-05)

481.0
Ttest_1sampResult(statistic=-7.176958682153343, pvalue=0.001996047031215438)

296.0
Ttest_1sampResult(statistic=-4.139235335333134, pvalue=0.0004657686953319079)

127.0
Ttest_1sampResult(statistic=-5.445651638320167, pvalue=8.213864919601086e-06)

508.0
Ttest_1sampResult(statistic=67.24119005377857, pvalue=0.009467007410634533)

103.0
Ttest_1sampResult(statistic=-1.3046357086657467, pvalue=0.2212417466556422)

66.0
Ttest_1sampResult(statistic=-12.798164198943613, pvalue=6.0492824178536075e-12)

360.0
Ttest_1sampResult(statistic=0.2251936456458033, pvalue=0.8268587697436772)

180.0
Ttest_1sampResult(statistic=-3.66304544494457, pvalue=0.06711165508880292)

60.0
Ttest_1sampResult(statistic=-30.705812980792764, pvalue=7.920412713804753e-08)

390.0
Ttest_1sampResult(statistic=6.480999905108251, pvalue=7.202890289368131e-07)

50.0
Ttest_1sampResult(statistic=-1.495042740308643, pvalue=0.16911547252606265)

502.0
Ttest_1sampResult(statistic=-8.412665786407514, pvalue=2.238460272246966e-06)

126.0
Ttest_1sampResult(statistic=-3.564750705265624, pvalue=0.007349658877527005)

378.0
Ttest_1sampResult(statistic=0.8413850513986452, pvalue=0.4111713256370966)

302.0
Ttest_1sampResult(statistic=-inf, pvalue=0.0)

348.0
Ttest_1sampResult(statistic=-1.0336208278487287, pvalue=0.32566302531621116)

128.0
Ttest_1sampResult(statistic=-3.154526510552482, pvalue=0.006136632176744137)

257.0
Ttest_1sampResult(statistic=-inf, pvalue=0.0)

219.0
Ttest_1sampResult(statistic=-inf, pvalue=0.0)

61.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

64.0
Ttest_1sampResult(statistic=inf, pvalue=0.0)

479.0
Ttest_1sampResult(statistic=1.4681873481610195, pvalue=0.17611396658666542)

364.0
Ttest_1sampResult(statistic=-7.2193785140032585, pvalue=0.000795111863985225)

352.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

245.0
Ttest_1sampResult(statistic=-11.1420799964185, pvalue=1.1831660952747646e-08)

441.0
Ttest_1sampResult(statistic=1.3588585723604458, pvalue=0.30714623559467924)

256.0
Ttest_1sampResult(statistic=-7.175438902978889, pvalue=7.203049350194848e-06)

163.0
Ttest_1sampResult(statistic=-0.4589579018914503, pvalue=0.7260763267789424)

270.0
Ttest_1sampResult(statistic=-1.3592824529253338, pvalue=0.30703388434161416)

397.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

423.0
Ttest_1sampResult(statistic=0.690715971101704, pvalue=0.507165305784993)

368.0
Ttest_1sampResult(statistic=-17.154551642728247, pvalue=5.253277050340041e-18)

45.0
Ttest_1sampResult(statistic=-20.924932909006294, pvalue=4.76051433819948e-13)

282.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

121.0
Ttest_1sampResult(statistic=-15.433181523867399, pvalue=1.2979309553605877e-10)

426.0
Ttest_1sampResult(statistic=26.03069643173509, pvalue=0.02444448138012015)

474.0
Ttest_1sampResult(statistic=3.9767285132847947, pvalue=0.004080326310475187)

535.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

429.0
Ttest_1sampResult(statistic=-0.06381052393722854, pvalue=0.9594319605347743)

492.0
Ttest_1sampResult(statistic=-5.018774555774218, pvalue=0.0005226812047842712)

328.0
Ttest_1sampResult(statistic=-153.7161323252202, pvalue=1.074362726510313e-08)

335.0
Ttest_1sampResult(statistic=-inf, pvalue=0.0)

475.0
Ttest_1sampResult(statistic=inf, pvalue=0.0)

78.0
Ttest_1sampResult(statistic=-3.168163820517921, pvalue=0.005619384705277638)

193.0
Ttest_1sampResult(statistic=-5.543082437158745, pvalue=0.0005453826068245874)

25.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

418.0
Ttest_1sampResult(statistic=-9.858488066957985, pvalue=0.06435568256822845)

469.0
Ttest_1sampResult(statistic=-1.2895005427374389, pvalue=0.41992627861731757)

135.0
Ttest_1sampResult(statistic=-inf, pvalue=0.0)

214.0
Ttest_1sampResult(statistic=3.2726875866275247, pvalue=0.18878908290727223)

148.0
Ttest_1sampResult(statistic=-4.08587842890846, pvalue=0.1528059895401811)

411.0
Ttest_1sampResult(statistic=-28.801957028101942, pvalue=1.564828682719116e-08)

53.0
Ttest_1sampResult(statistic=-7.92044849508016, pvalue=7.1824549424960586e-06)

363.0
Ttest_1sampResult(statistic=-29.697746620800107, pvalue=8.385527182838841e-05)

420.0
Ttest_1sampResult(statistic=-1.1497054984801753, pvalue=0.45573725862410985)

295.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

70.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

182.0
Ttest_1sampResult(statistic=0.20591268751830039, pvalue=0.8469146442894956)

81.0
Ttest_1sampResult(statistic=inf, pvalue=0.0)

430.0
Ttest_1sampResult(statistic=-0.02921012756367826, pvalue=0.9814095413590658)

262.0
Ttest_1sampResult(statistic=-3.0452579293659294, pvalue=0.008182220489882396)

484.0
Ttest_1sampResult(statistic=inf, pvalue=0.0)

73.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

341.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

358.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

139.0
Ttest_1sampResult(statistic=-13.096983823176533, pvalue=1.2219789729838767e-05)

344.0
Ttest_1sampResult(statistic=inf, pvalue=0.0)

371.0
Ttest_1sampResult(statistic=-0.6981075488348012, pvalue=0.612009066350979)

288.0
Ttest_1sampResult(statistic=-3.754581172035228, pvalue=0.033012406525806684)

290.0
Ttest_1sampResult(statistic=-0.803136296677646, pvalue=0.445099987356527)

275.0
Ttest_1sampResult(statistic=-5.107026277488046, pvalue=0.0037478752218715406)

232.0
Ttest_1sampResult(statistic=inf, pvalue=0.0)

393.0
Ttest_1sampResult(statistic=-8.6750035084489, pvalue=0.0001294645970911755)

480.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

453.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

227.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

74.0
Ttest_1sampResult(statistic=-3.4984340264851888, pvalue=0.008097647855910592)

403.0
Ttest_1sampResult(statistic=-inf, pvalue=0.0)

92.0
Ttest_1sampResult(statistic=-inf, pvalue=0.0)

406.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

451.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

307.0
Ttest_1sampResult(statistic=12.259734334636601, pvalue=6.414701339790388e-07)

235.0
Ttest_1sampResult(statistic=inf, pvalue=0.0)

244.0

Ttest_1sampResult(statistic=1.9890328359542344, pvalue=0.18500408000999422)

446.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

425.0
Ttest_1sampResult(statistic=3.969254818652714, pvalue=0.0021989035437136165)

117.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

280.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

107.0
Ttest_1sampResult(statistic=-inf, pvalue=0.0)

303.0
Ttest_1sampResult(statistic=1.039719888350702, pvalue=0.4876045378125456)

114.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

331.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

167.0
Ttest_1sampResult(statistic=1.5547766004081485, pvalue=0.36386979771045463)

165.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

510.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

497.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

278.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

141.0
Ttest_1sampResult(statistic=-0.6946990739063963, pvalue=0.5590973091755473)

285.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

150.0
Ttest_1sampResult(statistic=-1.1450957253900764, pvalue=0.3352428183799174)

216.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

265.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

405.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

404.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

427.0
Ttest_1sampResult(statistic=1.1140448428041994, pvalue=0.4656899923960769)

391.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

454.0
Ttest_1sampResult(statistic=-16.962150976696023, pvalue=0.037488390954111515)

269.0
Ttest_1sampResult(statistic=inf, pvalue=0.0)

258.0
Ttest_1sampResult(statistic=-20.670391196776613, pvalue=0.030774637982428833)

72.0
Ttest_1sampResult(statistic=-6.426374351610567, pvalue=0.023368648616767417)

90.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

438.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

476.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

450.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

346.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

301.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

211.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

325.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

408.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

367.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

321.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

300.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

433.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

370.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

289.0
Ttest_1sampResult(statistic=nan, pvalue=nan)

291.0
Ttest_1sampResult(statistic=nan, pvalue=nan)


customer_type
Transient
Ttest_1sampResult(statistic=20.578265650107856, pvalue=1.0496595975797061e-93)

Contract
Ttest_1sampResult(statistic=-19.42848544665188, pvalue=5.3486692200150005e-78)

Transient-Party
Ttest_1sampResult(statistic=-48.96206321878912, pvalue=0.0)

Group
Ttest_1sampResult(statistic=-5.488387915509694, pvalue=8.463401424568745e-08)


required_car_parking_spaces
0
Ttest_1sampResult(statistic=-3.7377727905943905, pvalue=0.00018582248287348136)

1
Ttest_1sampResult(statistic=12.050193604294046, pvalue=6.749129711253643e-33)

2
Ttest_1sampResult(statistic=1.7175161222459765, pvalue=0.1051743636391412)

8
Ttest_1sampResult(statistic=nan, pvalue=nan)

3
Ttest_1sampResult(statistic=nan, pvalue=nan)


reservation_status
Canceled
Ttest_1sampResult(statistic=9.07732716458971, pvalue=1.1962204972169596e-19)

Check-Out
Ttest_1sampResult(statistic=-7.642825572519328, pvalue=2.1699028373856572e-14)

No-Show
Ttest_1sampResult(statistic=-2.8823624078003864, pvalue=0.0040706779773846255)


arrival_date_week_number
39
Ttest_1sampResult(statistic=10.38820096000386, pvalue=1.943285529783635e-24)

53
Ttest_1sampResult(statistic=3.324441135084561, pvalue=0.0009172441989761875)

36
Ttest_1sampResult(statistic=3.1880188058577175, pvalue=0.0014691773609519152)

17
Ttest_1sampResult(statistic=-0.4023936807645163, pvalue=0.6874484091696853)

34
Ttest_1sampResult(statistic=28.619964829739445, pvalue=1.081957451501474e-146)

42
Ttest_1sampResult(statistic=-12.849914229910677, pvalue=5.4821208701103826e-36)

27
Ttest_1sampResult(statistic=12.127208590698352, pvalue=2.3803665841398675e-32)

35
Ttest_1sampResult(statistic=19.013866773751722, pvalue=3.087568332694951e-72)

2
Ttest_1sampResult(statistic=-32.27946447569033, pvalue=6.892118267116929e-140)

48
Ttest_1sampResult(statistic=-37.412184587216196, pvalue=8.681578960567716e-184)

44
Ttest_1sampResult(statistic=-20.260293796419862, pvalue=2.0503263756039254e-79)

4
Ttest_1sampResult(statistic=-38.117210187181996, pvalue=1.265062550896389e-184)

6
Ttest_1sampResult(statistic=-29.75541059390821, pvalue=1.7650732390869245e-135)

15
Ttest_1sampResult(statistic=-0.47263455375392005, pvalue=0.6365429605149486)

33
Ttest_1sampResult(statistic=28.98026659851177, pvalue=6.685218193457885e-155)

38
Ttest_1sampResult(statistic=-0.0982703882596419, pvalue=0.9217309341754563)

10
Ttest_1sampResult(statistic=-31.481524158790887, pvalue=2.683658047669429e-157)

25
Ttest_1sampResult(statistic=17.20617026244124, pvalue=1.1936241006407142e-60)

29
Ttest_1sampResult(statistic=19.63852438948148, pvalue=1.475203588913765e-76)

7
Ttest_1sampResult(statistic=-28.90949372914031, pvalue=3.9623678450281163e-140)

49
Ttest_1sampResult(statistic=-36.933646786492645, pvalue=1.5759315368879189e-189)

40
Ttest_1sampResult(statistic=-1.132994374117935, pvalue=0.25741675428186234)

26
Ttest_1sampResult(statistic=11.708206834121425, pvalue=3.20239278449675e-30)

30
Ttest_1sampResult(statistic=20.37862851075421, pvalue=5.1366126993598716e-83)

19
Ttest_1sampResult(statistic=3.8857277110478394, pvalue=0.00010699299666901096)

16
Ttest_1sampResult(statistic=0.035199498201469774, pvalue=0.9719258277903882)

18
Ttest_1sampResult(statistic=0.49178726888570024, pvalue=0.6229368204695027)

45
Ttest_1sampResult(statistic=-24.507234384424578, pvalue=3.196368131795479e-106)

11
Ttest_1sampResult(statistic=-25.141094980528358, pvalue=5.861921974522814e-112)

28
Ttest_1sampResult(statistic=19.418527414968977, pvalue=7.488400655251427e-76)

51
Ttest_1sampResult(statistic=-27.490176216870537, pvalue=8.445818630318131e-103)

52
Ttest_1sampResult(statistic=-22.481229215352485, pvalue=1.0211780821573958e-83)

8
Ttest_1sampResult(statistic=-31.02932817098526, pvalue=1.8277660529743514e-156)

22
Ttest_1sampResult(statistic=10.033799669168374, pvalue=6.039070362011826e-23)

3
Ttest_1sampResult(statistic=-34.890840494582385, pvalue=1.6172348796680916e-159)

31
Ttest_1sampResult(statistic=26.016289546962742, pvalue=8.0850506530765e-124)

32
Ttest_1sampResult(statistic=23.137530752384894, pvalue=4.850763795856957e-103)

20
Ttest_1sampResult(statistic=8.237735385942418, pvalue=3.728115004708029e-16)

9
Ttest_1sampResult(statistic=-31.438894627286917, pvalue=1.9647491738229295e-158)

13
Ttest_1sampResult(statistic=-1.5099752835308988, pvalue=0.13128672253277446)

43
Ttest_1sampResult(statistic=-13.174912913363235, pvalue=2.5474826312623932e-37)

24
Ttest_1sampResult(statistic=14.96764548712343, pvalue=4.507000328695363e-47)

5
Ttest_1sampResult(statistic=-33.69595621501041, pvalue=1.1793836132592382e-154)

46
Ttest_1sampResult(statistic=-11.252338867717878, pvalue=1.6076660189504621e-27)

23
Ttest_1sampResult(statistic=13.476169951978337, pvalue=3.822043475890315e-39)

21
Ttest_1sampResult(statistic=4.487623453640598, pvalue=7.730149971630779e-06)

47
Ttest_1sampResult(statistic=-40.553324178636664, pvalue=1.6147639926257143e-210)

41
Ttest_1sampResult(statistic=-11.808842372921475, pvalue=8.240195206426151e-31)

50
Ttest_1sampResult(statistic=-22.291922179537114, pvalue=2.664233540311806e-86)

12
Ttest_1sampResult(statistic=-25.899119282858752, pvalue=1.2685369182390212e-116)

1
Ttest_1sampResult(statistic=-14.340501624617435, pvalue=2.1457229556254324e-40)

37
Ttest_1sampResult(statistic=0.03192238023518758, pvalue=0.9745391595400472)

14
Ttest_1sampResult(statistic=-7.198230519581392, pvalue=1.0491245245482577e-12)


arrival_date_day_of_month
25
Ttest_1sampResult(statistic=1.0572607907727964, pvalue=0.29050024339749625)

28
Ttest_1sampResult(statistic=0.1669467179407756, pvalue=0.8674269284044813)

29
Ttest_1sampResult(statistic=1.152763111377039, pvalue=0.24914891906206482)

17
Ttest_1sampResult(statistic=-2.0803773109071684, pvalue=0.037594669914377155)

12
Ttest_1sampResult(statistic=-5.029822212740097, pvalue=5.290515225946079e-07)

8
Ttest_1sampResult(statistic=1.009327993376699, pvalue=0.3129276524774436)

4
Ttest_1sampResult(statistic=-3.671156412967139, pvalue=0.00024747729728486395)

21
Ttest_1sampResult(statistic=-1.5568082331613424, pvalue=0.11966423413129221)

26
Ttest_1sampResult(statistic=0.7547307706563438, pvalue=0.4504875083340173)

24
Ttest_1sampResult(statistic=4.4529960025521, pvalue=8.87657374775931e-06)

6
Ttest_1sampResult(statistic=-2.1544780851969767, pvalue=0.03131260239429108)

9
Ttest_1sampResult(statistic=-2.8215502653564606, pvalue=0.004821370922539059)

19
Ttest_1sampResult(statistic=0.05851576284637875, pvalue=0.9533429507124105)

16
Ttest_1sampResult(statistic=-0.7492414570571916, pvalue=0.4537889441317666)

5
Ttest_1sampResult(statistic=-6.979376789406027, pvalue=3.826468917421264e-12)

20
Ttest_1sampResult(statistic=-0.07554760405273683, pvalue=0.9397857423963935)

7
Ttest_1sampResult(statistic=1.8901824530256428, pvalue=0.0588758935524154)

15
Ttest_1sampResult(statistic=5.751482055761626, pvalue=9.991508323302144e-09)

2
Ttest_1sampResult(statistic=-3.99082014423606, pvalue=6.793580829248994e-05)

30
Ttest_1sampResult(statistic=8.450439233860777, pvalue=5.243331871659999e-17)

10
Ttest_1sampResult(statistic=0.5078674537301993, pvalue=0.6116033595689682)

14
Ttest_1sampResult(statistic=1.3630259104741695, pvalue=0.17301970900294272)

1
Ttest_1sampResult(statistic=0.4724069823517492, pvalue=0.636687252127147)

22
Ttest_1sampResult(statistic=1.9873644067906961, pvalue=0.04701787994502102)

27
Ttest_1sampResult(statistic=-2.924145540610406, pvalue=0.003491008640890356)

23

Ttest_1sampResult(statistic=-2.2768678345744857, pvalue=0.022897210486997516)

13
Ttest_1sampResult(statistic=3.071683946492371, pvalue=0.0021555823455758675)

31
Ttest_1sampResult(statistic=3.3155384625332904, pvalue=0.0009421808974436508)

3
Ttest_1sampResult(statistic=-3.1402002403931903, pvalue=0.001710888338536816)

18
Ttest_1sampResult(statistic=-1.1296183066963013, pvalue=0.25875560952559146)

11
Ttest_1sampResult(statistic=0.4302010932440899, pvalue=0.667095371510058)


total_of_special_requests
0
Ttest_1sampResult(statistic=-26.3194787893528, pvalue=2.369515339024458e-151)

2
Ttest_1sampResult(statistic=25.10643566060999, pvalue=1.688973399278345e-133)

1
Ttest_1sampResult(statistic=19.103359973998323, pvalue=1.3939844044175439e-80)

3
Ttest_1sampResult(statistic=13.898223579250836, pvalue=2.9989206669931014e-41)

4
Ttest_1sampResult(statistic=5.123263754183491, pvalue=7.252193202118327e-07)

5
Ttest_1sampResult(statistic=2.253082320366471, pvalue=0.03507190444635673)